img[download$=".jpg"], img[alt$=".jpg"], img[download$=".jpeg"], img[alt$=".jpeg"], img.img-bg {
    background-image: url("../img/image.svg");
    min-height: 24px;
    min-width: 24px;
}
body figure {
    border: thin #c0c0c0 solid;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-flow: column;
    padding: 5px;
    margin: 5px auto;
    width: fit-content;
    max-width: max-content;
}
body figure > figcaption {
    background-color: #474747;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
    width: 100%;
}
body figure > figcaption:last-child {
    border-radius: 0 0 10px 10px;
}
body > header {
    margin: 5px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    user-select: none;
    padding: 2px;
}
body > header.hasPlayer:not(.isTop).down > #info > #player {
    background-color: rgba(51, 51, 51, 0.5);
    z-index: 1000;
    position: fixed;
    top: 2px;
    right: 2px;
    border-radius: 10px;
}
#player, #player-placeholder {
    display: none;
}
body > header.hasPlayer:not(.isTop).down > #info > #player-placeholder {
    display: block !important;
}
body > header > div.flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-grow: 1;
    flex-wrap: wrap;
}
body > header > div.flex iframe {
    border-radius: unset !important;
}
body > header > div.flex a {
    padding: 2px 0;
    text-align: center;
}
body > header > div.flex .recycle, body > header > div.flex .edit, body > header > div.flex .download-all, body > header > div.flex .player {
    display: flex;
    align-items: center;
    font-size: 30px;
    padding: 0 10px;
    text-decoration: none;
}
body > header > div.flex .recycle {
    color: green;
}
body > header > div.flex .edit, body > header > div.flex .download-all {
    display: none;
}
body > header > div.flex .download-all > .tiny > span.filesLoading ~ span.donwload-files-counter {
    margin-left: 10px;
}
body[type="ipfs"] header > div.flex .edit, body[type="magnet"] header > div.flex .edit, body[issender="false"] header > div.flex .edit {
    display: flex;
    color: red;
}
body[type="ipfs"] header > div.flex .download-all, body[type="magnet"] header > div.flex .download-all {
    display: flex;
    color: cornflowerblue;
}
body[type="ipfs"] header > div.flex .download-all.done, body[type="magnet"] header > div.flex .download-all.done {
    color: lightgray;
    font-style: italic;
}
body > header > div.flex .player {
    color: yellow;
}
body > header label {
    color: white;
    font-size: 12px;
    display: flex;
    align-items: center;
}
body > header button.mui-btn {
    height: auto;
    white-space: normal;
    line-height: 15px;
    background-color: #adadad;
}
p:empty {
    display: none;
}
.mui-btn--webRTC{
    color: #FFF;
    background-color: rgb(36, 230, 36);
}
.mui-btn--webRTC:hover, .mui-btn--webRTC:focus, .mui-btn--webRTC:active {
    color: #FFF;
    background-color: rgb(91, 235, 91);
}
body > header button.mui-btn:hover label {
    color: black;
}
body > header label span {
    margin-right: 2px;
}
body > header .mui-checkbox > label input[type="checkbox"] {
    margin-top: 0;
}
body > header .headerReceiver {
    color: white;
    font-size: 10px;
}
body > header .headerReceiver.hasQr {
    display: flex;
    align-items: center;
}
body > header .headerReceiver.hasQr > .qr {
    padding-left: 10px;
    order: 2;
}
.tiny {
    font-size: 8px;
    display: flex;
    align-items: center;
}
#sender, #receiver, .note-editor, #controls{
    min-width: fit-content;
}
#sender, #receiver, .note-editor{
    min-height: 45vh;
    height: 100%;
    border: 1px solid;
    background-color: white;
}
/* start editor */
.note-file-input.form-control {
    height: auto;
}
input.note-file-input.form-control::after {
    content: 'If you use WebTorrent: Choose one file at a time to avoid glitches!!!';
    font-size: 10px;
    color: orange;
    white-space: normal;
    padding-top: 2px;
    display: block;
}
.note-toolbar{
    height: auto !important;
}
.note-editor:not(.fullscreen) .note-editable, #sender {
    height: fit-content !important;
    min-height: 65vh; /* when adjusting search: height in-code search. to change both values. */
}
.note-editor.fullscreen .note-editable{
    max-width: 100vw;
}
.note-editable img, .note-editable video, #receiver img, #receiver video {
    max-width: 100%;
    max-height: 100%;
}
.note-toolbar.panel-heading{
    width: 100% !important;
    position: sticky !important;
    top: 0;
    z-index: 1000;
}
/* end editor */
#receiver {
    padding: 5px;
}
.panel {
    margin-bottom: 5px !important;
}
#txt-roomid{
	color: black;
}
body {
    background-color: rgb(29, 28, 28) !important;
    min-width: 95vw;
    overflow: auto;
    word-break: break-word;
}
body > *, body > .panel {
    border-radius: 10px;
}
#controls {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 5px;
    min-height: 5vh;
}
#controls > * {
    height: auto;
    min-height: 54px;
    width: 50%;
    margin: 5px 0 0;
    flex: 1 1 auto;
}
#controls > button {
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: normal;
    font-size: 12px;
    line-height: 15px;
    padding: 5px;
}
#controls > button.hasQr {
    justify-content: space-between;
    flex-wrap: wrap;
}
@media only screen and (max-width: 650px) {
    #controls > button.hasQr {
        justify-content: center;
    }
    #controls > button.hasQr > span {
        width: 100%;
    }
    #controls > button.hasQr > span.qr {
        padding-top: 5px;
    }

}
span.qr {
    cursor: pointer;
    text-transform: none;
}
span.qr:empty {
    display: none;
}
span.qr > img {
    max-height: 50px;
    opacity: 0.8;
}
span.qr > a {
    display: none;
}
span.qr.open {
    background-color: darkslategrey;
    opacity: 0.95;
    display: flex;
    flex-flow: column-reverse;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: auto;
    z-index: 10000;
}
span.qr.open > img {
    margin: auto;
    max-height: 100%;
    max-width: 100%;
}
span.qr.open > a {
    animation: blinker 1.2s linear 1;
    display: block;
    color: white;
    font-size: clamp(0.9rem, 3vw + 1rem, 7.2rem);
    line-height: 1;
    word-break: break-all;
    padding-top: 10px;
}
@keyframes blinker {
    50% {
        opacity: 0.1;
    }
}
#controls > input {
    color: green;
    font-weight: bold;
}
#controls > button:active {
    background-color: darkcyan;
}
#controls > #inputWebTorrent, #controls > #inputIPFS, #controls > #clipboardInput {
    cursor: not-allowed;
}
.counter {
    display: block;
    white-space: nowrap;
    font-style: italic;
    font-weight: bold;
    color: rgb(182, 53, 53);
}
#buttonWebTorrent .counter, #open-or-join-room .counter {
    color: rgb(198, 195, 221);
}
/* EditorSummernote.js */
/* TODO: make font-sizes variable
span[style="font-size: 36px;"] {
    font-size: clamp(1rem, 5vw, 36px) !important;
}
*/
:empty.blobLoading, :empty.torrentLoading, :empty.ipfsLoading, .ipfsLoading, :empty.filesLoading, .filesLoading, :empty.receiverLoading, .receiverLoading {
    display: inline-block;
	width: 30px;
	height: 30px;
	border: 8px solid green;
	border-right-color: transparent !important;
	border-radius: 50%;
	box-shadow: 0 0 25px 2px lightgreen;
    animation: spin 1s linear infinite;
    background-image: none;
}
:empty.torrentLoading{
    border-color: red;
    box-shadow: 0 0 25px 2px lightcoral;
}
:empty.ipfsLoading, .ipfsLoading {
    border-color: blue;
    box-shadow: 0 0 25px 2px lightblue;
}
:empty.filesLoading, .filesLoading {
    border-color: cornflowerblue;
    box-shadow: 0 0 25px 2px lightblue;
}
:empty.receiverLoading, .receiverLoading {
    border-color: rgb(88, 88, 88);
    box-shadow: none;
}
@keyframes spin{
    from{transform: rotate(0deg); opacity: 0.2;}
    50%{transform: rotate(180deg); opacity: 1.0;}
    to{transform: rotate(360deg); opacity: 0.2;}
}
/* ProgressBar */
a.torrentControls{
    cursor: pointer;
}
/* Viewer Only */
body.viewer {
    min-width: 95vw;
    padding-left: 0;
}
body.viewer #receiver {
    min-height: 100vh;
}
/* file picker form */
.form-check {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.form-check:last-child {
    margin-bottom: 0;
}
.form-check label {
    font-weight: normal;
    margin: 0;
    padding: 0 0 0 5px;
}
.form-check input {
    margin: 0;
}
.offline {
    color: red;
    border: 1px solid red;
    padding: 7px;
    border-radius: 4px;
}
