iframe {
    margin-top: 5px;
}
#sender, #receiver, .note-editor, #controls{
    min-width: fit-content;
}
#sender, #receiver, .note-editor{
    min-height: 45vh;
    height: 100%;
    border: 1px solid;
    background-color: white;
}
.note-toolbar-wrapper{
    height: auto !important;
}
#receiver {
    padding: 5px;
}
.panel {
    margin-bottom: 5px !important;
}
#txt-roomid{
	color: black;
}
body{
    background-color: rgb(29, 28, 28) !important;
    min-width: 95vw;
    overflow: auto;
}
body > *, body > .panel {
    border-radius: 10px;
}
#controls {
    display: flex;
    margin-bottom: 5px;
    min-height: 5vh;
}
#controls > * {
    height: auto;
    min-height: 100%;
    margin: 0;
    flex: 1 1 auto;
}
#controls > button {
    white-space: normal;
    font-size: 12px;
    line-height: 15px;
    padding: 2px;
}
#controls > button:active {
    background-color: darkcyan;
}
/* EditorSummernote.js */
:empty.blobLoading, :empty.torrentLoading{
    display: inline-block;
	width: 30px;
	height: 30px;
	border: 8px solid green;
	border-right-color: transparent !important;
	border-radius: 50%;
	box-shadow: 0 0 25px 2px lightgreen;
    animation: spin 1s linear infinite;
}
:empty.torrentLoading{
    border-color: red;
    box-shadow: 0 0 25px 2px lightcoral;
}
@keyframes spin{
    from{transform: rotate(0deg); opacity: 0.2;}
    50%{transform: rotate(180deg); opacity: 1.0;}
    to{transform: rotate(360deg); opacity: 0.2;}
}
/* ProgressBar */
a.torrentControls{
    cursor: pointer;
}
/* Viewer Only */
body.viewer {
    min-width: 95vw;
    padding-left: 0;
}
body.viewer #receiver {
    min-height: 100vh;
}